<center>
    <h1>Hello World</h1>
    <p>Welcome to WebSite</p>
    <%= link_to 'Go to Recipe',recipes_path, class: 'btn btn-primary' %>
    <br><br>


    <% if current_user.has_role? :admin%>
    <%= User.first.roles.first.name%>
    <% end %>

<% if user_signed_in?%>
<%= current_user.email%>
    <%= link_to 'Sign out',destroy_user_session_path, data: { turbo_method: :delete } %>
    <% end %>
</center>
